<div class="yoga_class">
  <h3> <%= yoga_class.date %> </h3>
  <p> Required slots filled: <%= yoga_class.yoga_sessions.count %> </p>
  <p> Open slots: <%= yoga_class.size - yoga_class.yoga_sessions.count %> </p>

	<% if current_user %>
		<% if yoga_class.users.include?(current_user) %>
	    <!-- <%= form_for :yoga_class, url: new_yoga_session_path({yoga_class_id: yoga_class.id}), method: :delete do |f| %>
	      <%= f.submit "Unregister" %>
      <% end %> -->
			
			<%= link_to 'Unregister', yoga_session_path(id: yoga_class.yoga_sessions.first.id, yoga_class_id: yoga_class.id), method: :delete %>
		<% else %>
			<%= link_to 'Register', new_yoga_session_path(yoga_class_id: yoga_class.id), method: :post %>
		<% end %>
  <% end %>
	
  <!-- < form_for :yoga_session, url: new_yoga_session_path(yoga_class_id: yoga_class.id) do |f| >
    < f.submit "Sign Up for this Class" >
  < end > -->
	
  <!-- switch over when sessions is built -->
  <!-- <p> Required slots filled:  yoga_class.sessions.where(required: true).count  </p>
  <p> Optional slots filled:  yoga_class.sessions.where(required: false).count  </p>
  <p> Open slots:  yoga_class.size - yoga_class.sessions.count  </p> -->
</div>
