<div class="yoga_class">
  <h3> <%= yoga_class.date %> </h3>
  <p> Required slots filled: <%= yoga_class.yoga_sessions.count %> </p>
  <p> Open slots: <%= yoga_class.size - yoga_class.yoga_sessions.count %> </p>
  <% if session[:user_id] && !yoga_class.yoga_sessions.exists?(user_id: session[:user_id])%>
    <%= form_for :yoga_session, url: yoga_class_yoga_sessions_url(yoga_class), method: "post" do |f| %>
      <%= f.submit "Sign Up for this Class" %>
      <% end %>
  <% end %>
  <!-- switch over when sessions is built -->
  <!-- <p> Required slots filled:  yoga_class.sessions.where(required: true).count  </p>
  <p> Optional slots filled:  yoga_class.sessions.where(required: false).count  </p>
  <p> Open slots:  yoga_class.size - yoga_class.sessions.count  </p> -->
</div>
