<%= form_for :yoga_class, url: yoga_classes_path do |f| %>
<legend>Add New Class</legend>
<table>
  <tr>
		<td><%= f.label :date %></td>
    <td><%= f.date_select :date %></td>
	</tr>

  <tr>
		<td><%= f.label :size %></td>
		<td><%= f.number_field :size %></td>
	</tr> 

  <tr>
		<td><%= f.label :teacher %></td>
		<td><%= f.text_field :teacher %></td>
	</tr>

  <tr>
		<td colspan='2'>
	    <%= f.submit %>
	  </td>
	</tr>
</table>

<% end %>

<% if @yoga_class && @yoga_class.errors %>
  <% @yoga_class.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>